.data-text {
    width: 100%;
    padding: 12px 54px 12px 18px;
}

.edit-text {
    width: 100%;
    border: none;
    outline: none;
    text-align: justify;

    resize: none; /* Отключает изменение размеров textarea пользователем */
    overflow: hidden;
    height: auto;
}

.bold {
    font-weight: 700;
}

