.data-text {
    width: 100%;
    padding: 12px 54px 12px 24px;

    position: relative;
}

.data-del {
    position: absolute;
    top: 12px;
    left: 0px;
    cursor: pointer;

    opacity: .3;

}

.data-del:hover {
    opacity: 1;
}


.edit-text {
    width: 100%;
    border: none;
    outline: none;
    text-align: justify;

    resize: none; /* Отключает изменение размеров textarea пользователем */
    overflow: hidden;
    height: auto;
}

.bold {
    font-weight: 700;
}

